<header>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Motoristas")"><i class="fa fa-user-plus"></i>Motoristas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Veiculos")"><i class="fa fa-truck"></i>Veículos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Agendamento")"><i class="fa fa-calendar-alt"></i>Agendamento Carga Solta</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>
