<div id="pnlFrmVinculo" class="row no-gutters mb-3" style="display: none;">
    <div class="col-md-9">
        <label>Transportadora</label>
        <input type="text" id="TransportadoraSelecionadaId" class="form-control" value="" />
        <small id="msgErro" class="text-danger invisivel">* Selecione uma Transportadora</small>
    </div>
    <div class="col-md-3">
        <label>&nbsp;</label>
        <div class="text-right">
            <button id="btnSalvar" class="btn btn-outline-info"><i class="fa fa-save"></i>&nbsp;&nbsp;Salvar</button>
            <button id="btnCancelar" class="btn btn-outline-danger"><i class="fa fa-window-close"></i>&nbsp;&nbsp;Cancelar</button>
        </div>
    </div>
</div>
