<div class="table-responsive mt-4">
    <table id="tblVinculos" class="table table-hover table-sm" cellspacing="0">
        <thead>
            <tr>
                <th class="td-icone">&nbsp;</th>
                <th scope="col">Razão Social</th>
                <th scope="col">CNPJ</th>
                <th class="campo-acao">&nbsp;</th>
                <th class="campo-acao">&nbsp;</th>
            </tr>
        </thead>
    </table>
</div>
