<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GPD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="ValidaBDCC" value="1"/>
  </appSettings>

  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <applicationSettings>
    <GPD.My.MySettings>
      <setting name="Senha" serializeAs="String">
        <value>TECONDI</value>
      </setting>
      <setting name="Banco" serializeAs="String">
        <value>ORACLE</value>
      </setting>
      <setting name="LimiteLate" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>ECOPORTO_SRV0315_PATIODEV</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>SGIPA</value>
      </setting>
    </GPD.My.MySettings>
  </applicationSettings> 
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsSincronoSoap" />
        <binding name="WsIccSharepointSoap" />
        <binding name="BasicHttpBinding_IEmail" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://srv0019:134/TecondiBdccWs.asmx" binding="basicHttpBinding"
        bindingConfiguration="WsSincronoSoap" contract="WsBDCC_Ecoporto.WsSincronoSoap"
        name="WsSincronoSoap" />
      <endpoint address="http://srv0279:5055/WsIccSharepoint.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsIccSharepointSoap"
        contract="WsSharepoint.WsIccSharepointSoap" name="WsIccSharepointSoap" />
      <endpoint address="http://srv0279:6789/Email.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEmail" contract="WsEmail.IEmail"
        name="BasicHttpBinding_IEmail" />
    </client>
  </system.serviceModel>
  
</configuration>