<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AgendamentoREDEX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <AgendamentoREDEX.My.MySettings>
      <setting name="Usuario" serializeAs="String">
        <value>REDEX</value>
      </setting>
      <setting name="Senha" serializeAs="String">
        <value>REDEX</value>
      </setting>
      <setting name="Schema" serializeAs="String">
        <value>REDEX</value>
      </setting>
      <setting name="LerXmlCraft" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WsCraftUsuario" serializeAs="String">
        <value>ecoporto</value>
      </setting>
      <setting name="WsCraftSenha" serializeAs="String">
        <value>por7o$@n7o$</value>
      </setting>
      <setting name="AgendamentoREDEX_WsControleSenha_Criptografia"
        serializeAs="String">
        <value>http://srv0310:5456/Criptografia.asmx</value>
      </setting>
      <setting name="AgendamentoREDEX_WsCraft_ConexaoMB" serializeAs="String">
        <value>http://187.84.232.171/integracao/ConexaoMB.asmx</value>
      </setting>
      <setting name="AgendamentoREDEX_WsBloqueioCraft_Ws" serializeAs="String">
        <value>http://localhost:18771/Ws.asmx</value>
      </setting>
      <setting name="BaseHomologacao" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SenhaEncriptada" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
     <value>ECOPORTO_SRV0315_PATIODEV</value>
      </setting>
      <setting name="DiretorioUploads" serializeAs="String">
        <value>c:\temp\redex</value>
      </setting>
    </AgendamentoREDEX.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
