<div data-id="0" class="modal" tabindex="-1" role="dialog" id="modal-veiculo-invalido">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Veículo inválido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td width="90px"><img src="~/Content/img/veiculo-invalido.png" /></td>
                        <td><p>Prezado(a) usuário(a): Atualize o cadastro do Veículo com a Placa da Carreta para prosseguir com o agendamento.</p></td>
                    </tr>
                </table>                 
            </div>
            <div class="modal-footer">
                <a id="lnkAtualizarPlacas" class="btn btn-info" href="#">Atualizar Placas</a>
            </div>
        </div>
    </div>
</div>