<div data-id="0" class="modal" tabindex="-1" role="dialog" id="modal-reserva-sem-saldo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agendamento</h5>                
            </div>
            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td width="120px"><img src="~/Content/img/icone-atencao.png" /></td>
                        <td>
                            <p><strong>Prezado(a) usuário(a):</strong></p>
                            <p>Reserva sem saldo para agendar!</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a id="lnkIrParaAgendamentos" class="btn btn-info" href="#">Continuar...</a>
            </div>
        </div>
    </div>
</div>