@model  Ecoporto.AgendamentoCS.Models.ViewModels.AgendamentoViewModel

<div class="col-md-12 mb-0 ">
    @Html.LabelFor(model => model.UploadXmlNfe)
    @Html.DropDownListFor(c => c.UploadXmlNfe, new MultiSelectList(Model.UploadXmlNfe, "Id", "Danfe"), string.Empty, new { @class = "form-control" })
    <small id="validaMotorista" class="text-danger invisivel">* Ou Selecione o arquivo abaixo</small>
</div>